DATABASE_URL="postgres://USER:PASSWORD@HOST/DB?sslmode=require"

# app/runtime configuration, use wrangler for deploy/auth
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_STREAM_API_TOKEN=""
CLOUDFLARE_STREAM_CUSTOMER_SUBDOMAIN=""

CLOUDFLARE_WORKER_PUBLIC_BASE_URL=""

